// Variable overrides first
// $primary: rgb(34, 211, 58);
$enable-shadows: true;
$prefix: "mo-";

@import "../bootstrap/node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Micro+5&display=swap");
@font-face {
  font-family: "alfa";
  src: url(src/fonts/alfa.ttf);
}
body {
  // height: 500vh;
  background-color: #292b35;
}
body p,
h3,
h4,
h5 {
  color: white;
}
.lada {
  border: 1px solid red;
}

.tech,
.gallery,
.pricing,
.contact {
  padding-top: 30px;
  min-height: fit-content;
  // border: 3px solid purple;
}
.history {
  padding-top: 100px;
}
h1,
h2 {
  text-align: center;
  font-family: "alfa";
  color: white;
}
.position {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}
#hero {
  position: relative;
  height: calc(100vh - 70px);
  background-image: url(./src/hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#booking {
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.11);
}

.navi {
  font-family: "alfa";
  font-size: 1.5rem;
  position: sticky;
  top: 0%;
  height: 70px;
  background-color: cadetblue;
  z-index: 999;
}
.out {
  border: 2px solid white;
}
.highlight1 {
  font-family: "alfa";
}
.highlight2 {
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.highlight3 {
  font-family: "Micro 5", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  font-style: normal;
  text-decoration: underline;
}
.highlight1,
.highlight2,
.highlight3 {
  cursor: pointer;
}
.carousel-inner img {
  object-fit: cover;
  height: 500px;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.3);
}
.tech p {
  text-align: justify;
}
.tech .row img {
  height: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#footer {
  margin-top: 250px;
}

#footer a {
  color: rgb(255, 255, 255);
}
.flag {
  border: none;
  height: 70px;
  background-image: linear-gradient(
    to right,
    green 33%,
    white 33%,
    white 66%,
    red 66%
  );
  background-size: 100% 100%;
}
label {
  color: white;
}
.history p {
  text-align: justify;
}
